<script src="/comments.js"></script>
<div class="commentBody"></div>

{{#each hbsComments}}
  <div class="header">
    <div class="commentTitle">{{title}}
    </div>
    
    <div class="timeStamp">
      {{createdAt}}
    </div>
  </div>
  
  <div class="commentContent">
    {{content}}
  </div>

  <div class="updateDelete">
    <button type="button" class="updateBtn">
      <a href="/comments/{{id}}">Edit</a>
    </button>
    <button type="button" class= "deleteBtn" data-comment-id="{{id}}">
      Delete
    </button>
  </div>  
{{/each}}

</div>