<script src="/user.js"></script>
<script src="/discussion.js"></script>

<div class="pageBody">
    <div class="discheader center-align">
<h2>{{userName}}'s Profile</h2>
<h4>Username: {{userName}}</h4>
<h4>Bio:</h4>
    <p>{{bio}}</p>
<h4>Favorite Author: {{favAuthor}}</h4>
<h4>Favorite Book: {{favBook}}</h4>

<button>
    <a class="waves-effect waves-yellow btn" href="/profiles/{{userId}}/update">Update Profile</a>
</button>
    </div>
</div>