<script src="/users.js"></script>
<script src="/discussion.js"></script>

<div class="pageBody">
    <div class="discheader center-align">
        <form method="post">
            <h4>Username:</h4>
            <input type="text" name="userName" value="{{userName}}"><br>
            <h4>Email:</h4>
            <input type="email" name="email" value="{{email}}"><br>
            <h4>Password:</h4>
            <input type="text" name="password" value="{{password}}"><br>
            <h4>Bio:</h4>
            <input type="text" name="bio" value="{{bio}}"><br>
            <h4>Favorite Author:</h4>
            <input type="text" name="favAuthor" value="{{favAuthor}}"><br>
            <h4>Favorite Book:</h4>
            <input type="text" name="favBook" value="{{favBook}}"><br>
            <button type="submit" id="submitBtn">Update</button>
        </form>
    </div>
</div>

